    {% extends 'website/base.html' %}
    {% block content %}
    <!-- page title start -->
    <div class="breadcrumb-area bg-black bg-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="breadcrumb-inner text-center">
                        <h2 class="page-title">Contact</h2>
                        <ul class="page-list">
                            <li><a href="{% url 'index' %}">Accueil</a></li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page title end -->

    <!-- team area start -->
    <div class="team-area info-box-two pd-top-115 pd-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-9">
                    <div class="section-title text-center">
                        <h5 class="sub-title double-line">Contact</h5>
                        <h2 class="title">contactez-nous</h2>
                        <p class="content">Contactez-nous facilement en remplissant ce formulaire. Nous sommes là pour vous aider, que ce soit pour des questions, des demandes de renseignements ou toute autre assistance dont vous pourriez avoir besoin.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-inner text-center">
                        <div class="icon-box">
                            <i class="icomoon-pin"></i>
                        </div>
                        <div class="details-wrap">
                            <div class="details-inner">
                                <h3>Localisation</h3>
                                <p>7895 Piermont, Albuquerque, NM 198866, USA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-inner text-center">
                        <div class="icon-box">
                            <i class=" icomoon-email"></i>
                        </div>
                        <div class="details-wrap">
                            <div class="details-inner">
                                <h3>Addresse email</h3>
                                <p>support@hcmmonetic.com <br> contact@hcmmonetic.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-inner text-center">
                        <div class="icon-box">
                            <i class=" icomoon-telephone"></i>
                        </div>
                        <div class="details-wrap">
                            <div class="details-inner">
                                <h3>Numéro de téléphone</h3>
                                <p> 06 37 30 03 35<br>  06 37 30 03 35
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team area end -->

    <div class="g-map-inner">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14604.929175165831!2d90.36542960000001!3d23.774741049999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1639502123533!5m2!1sen!2sbd"></iframe>
    </div>
    <div class="g-map-contact">
        <div class="row justify-content-end">
            <div class="col-lg-5 col-md-7">
                <form class="contact-form-wrap" action="mail.php" method="post" id="contact-form">
                    <div class="consulting-contact-form mx-4">
                        <h3 class="mb-3">Formulaire de contact</h3>
                        <div class="single-input-inner style-bg">
                            <input type="text" name="name" placeholder="Entrer votre nom">
                        </div>
                        <div class="single-input-inner style-bg">
                            <input type="text" name="email" placeholder="Entrez votre adresse email">
                        </div>
                        <div class="single-input-inner style-bg">
                            <textarea name="message" placeholder="Entrer votre message"></textarea>
                        </div>
                        <div class="btn-wrap pb-3">
                            <button type="submit" class="btn btn-base">Envoyer</button>
                        </div>
                        <p class="form-messege mb-0 mt-20 text-center"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
