    {% extends 'website/base.html' %}
    {% load static %}
    {% block content %}
    <!-- page title start -->
    <div class="breadcrumb-area bg-black bg-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="breadcrumb-inner text-center">
                        <h2 class="page-title">Fonctionnalités</h2>
                        <ul class="page-list">
                            <li><a href="{% url 'index' %}">Accueil</a></li>
                            <li>Fonctionnaltités</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page title end -->
    <div class="container" id="nf525">
        <div class="row justify-content-center pd-top-100">
            <div class="col-xl-6 col-md-9">
                <div class="section-title text-center">
                    <h2 class="title">LES FONCTIONNALITES DU LOGICIEL DE CAISSE COIFFURE HCM MONETIC</h2>
                    <p class="content mt-2" style=" margin-left: 6px; margin-right: 6px;">HCM MONETIC regroupe toutes les fonctionnalités dont vous avez besoin pour gérer efficacement votre salon de coiffure. <br>
                        Simple et intuitif, il ne nécessite aucune connaissance particulière en informatique.</p>
                </div>
            </div>
        </div>
    </div>

   <!-- faq area start -->
    <div class="faq-area pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pe-xl-5 align-self-center">
                    <div class="section-title mb-0">
                        <h5 class="sub-title left-border">Caisse certifiée NF 525</h5>
                        <div class="bg-sky p-4 mt-3 mb-4"> 
                            <ul class="single-list-inner style-check mb-3">
                                <li><i class="fas fa-check"></i>Encaissement rapide des règlements de vos clients en 3 clics</li>
                                <li><i class="fas fa-check"></i>Gestion de votre tiroir caisse</li>
                                <li><i class="fas fa-check"></i>Gestion des tickets de caisse (suppression, modification)</li>
                                <li><i class="fas fa-check"></i>Gestion de vos bons cadeaux</li>
                                <li><i class="fas fa-check"></i>Gestions des abonnements</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">   
                    <img src="{% static 'website/assets/img/fonctionnalite/1.webp' %}" alt="">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-6 pe-xl-5 align-self-center">
                    <div class="section-title mb-0">
                        <h5 class="sub-title left-border">Planning avec prise de rendez vous</h5>
                        <div class="bg-sky p-4 mt-3 mb-4">
                            <ul class="single-list-inner style-check mb-3">
                                <li><i class="fas fa-check"></i>Prise de rendez vous efficace.</li>
                                <li><i class="fas fa-check"></i>Planning complet de tous les collaborateurs sur un seul écran.</li>
                                <li><i class="fas fa-check"></i>Agenda partagé en ligne entre tous les collaborateurs et tous vos appareils.</li>
                                <li><i class="fas fa-check"></i>Nouveau - connexion directe à LECISEAU pour leur confier des créneaux de vos périodes creuses</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">   
                    <img src="{% static 'website/assets/img/fonctionnalite/2.webp' %}" alt="">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-6 pe-xl-5 align-self-center">
                    <div class="section-title mb-0">
                        <h5 class="sub-title left-border">Vente de bons cadeaux sur Internet</h5>
                        <div class="bg-sky p-4 mt-3 mb-4">
                            <p>Le bon cadeau en ligne est un formidable levier promotionnel pour faire découvrir vos prestations et vos produits.</p>
                            <p>C'est un outil indispensable pour faire marcher le bouche à oreille et accélérer les recommandations de vos clients. Selon la saisonnalité, le bon cadeau peut avoir un excellent impact sur vos ventes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">   
                    <img src="{% static 'website/assets/img/fonctionnalite/3.webp' %}" alt="">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-6 pe-xl-5 align-self-center">
                    <div class="section-title mb-0">
                        <h5 class="sub-title left-border">Gestion des clients</h5>
                        <div class="bg-sky p-4 mt-3 mb-4">
                            <ul class="single-list-inner style-check mb-3">
                                <li><i class="fas fa-check"></i>Fiche technique des clients du salon</li>
                                <li><i class="fas fa-check"></i>Carte de fidélité coiffure</li>
                                <li><i class="fas fa-check"></i>Historique</li>
                                <li><i class="fas fa-check"></i>Mailing</li>
                                <li><i class="fas fa-check"></i>SMS</li>
                                <li><i class="fas fa-check"></i>Chiffre d'affaire</li>
                                <li><i class="fas fa-check"></i>Conforme à la reglementation RGPD</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">   
                    <img src="{% static 'website/assets/img/fonctionnalite/4.webp' %}" alt="">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-6 pe-xl-5 align-self-center">
                    <div class="section-title mb-0">
                        <h5 class="sub-title left-border">L'application coiffure 100% compatible mobile et tablette</h5>
                        <div class="bg-sky p-4 mt-3 mb-4">
                            <p>Avec l’application coiffure HCM MONETIC, vous gérez votre salon de coiffure facilement en toute mobilité. Toutes les fonctionnalités sont accessibles sur votre mobile (Apple IPhone, Androïd, Samsung) ou depuis votre tablette (Apple Ipad, Androïd, Windows).</p>
                            <p>Vous avez besoin d’une caisse Ipad ? Vous recherchez une application d’encaissement sur téléphone ?
                                <br>Vous ne trouvez pas d’application coiffure sur Androïd ?</p>
                            <p>Ne cherchez plus, l’application coiffure LS Coiffure est compatible avec tous vos appareils.</p>
                            <p>Caisse enregistreuse, Fiche client, Réservation, Planning, Relances client, Gestion des stocks… Vous gardez le contrôle complet de votre salon de coiffure depuis n’importe quel appareil nomade connecté sans aucun coût additionnel.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">   
                    <img src="{% static 'website/assets/img/fonctionnalite/1.webp' %}" alt="">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-6 pe-xl-5 align-self-center">
                    <div class="section-title mb-0">
                        <h5 class="sub-title left-border">Campagnes SMS gratuites et illimitées depuis votre mobile Androïd</h5>
                        <div class="bg-sky p-4 mt-3 mb-4">
                            <p>Envoyez gratuitement vos campagnes SMS à vos clients pour les relancer et les fidéliser. <br>
                                Une fonctionnalités gratuite pour les utilisateurs de smartphone Androïd, exclusivement disponible sur LS Coiffure. <br>
                                Profitez-en, les SMS rédigés depuis LS Coiffure sont envoyés sans coût supplémentaire
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">   
                    <img src="{% static 'website/assets/img/fonctionnalite/6.webp' %}" alt="">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-6 pe-xl-5 align-self-center">
                    <div class="section-title mb-0">
                        <h5 class="sub-title left-border">Relances automatiques par SMS avec la régie SMS</h5>
                        <div class="bg-sky p-4 mt-3 mb-4">
                            <p>Relancez vos clients pour les fidélisez grâce à la régie SMS : <br>
                                Une fois le paramétrage effectué, les SMS sont envoyés automatiquement à vos clients :</p>
                            <ul class="single-list-inner style-check mb-3">
                                <li><i class="fas fa-check"></i>Confirmation de rendez-vous</li>
                                <li><i class="fas fa-check"></i>SMS Anniversaire</li>
                                <li><i class="fas fa-check"></i>Remerciement nouveau client</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">   
                    <img src="{% static 'website/assets/img/fonctionnalite/7.webp' %}" alt="">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-6 pe-xl-5 align-self-center">
                    <div class="section-title mb-0">
                        <h5 class="sub-title left-border">Analysez les résultats de votre salon de coiffure</h5>
                        <div class="bg-sky p-4 mt-3 mb-4">
                            <p>Avec les 10 écrans statistiques suivez les performances de votre salon de coiffure :</p>
                            <ul class="single-list-inner style-check mb-3">
                                <li><i class="fas fa-check"></i>Clients actifs</li>
                                <li><i class="fas fa-check"></i>CA par produit</li>
                                <li><i class="fas fa-check"></i>Statistiques horaires (fréquentation)</li>
                                <li><i class="fas fa-check"></i>Chiffre d'affaire</li>
                                <li><i class="fas fa-check"></i>Nombre de clients par profession</li>
                                <li><i class="fas fa-check"></i>Tableau de répartition homme/femme par famille de produit</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">   
                    <img src="{% static 'website/assets/img/fonctionnalite/8.webp' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- faq area end -->
    {% endblock %}
