    {% extends 'website/base.html' %}
    {% load static %}
    {% block content %}
    <!-- page title start -->
    <div class="breadcrumb-area bg-black bg-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="breadcrumb-inner text-center">
                        <h2 class="page-title">Tarifs</h2>
                        <ul class="page-list">
                            <li><a href="{% url 'index' %}">Accueil</a></li>
                            <li>Tarifs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page title end -->

   <!-- pricing area start -->
    <div class="pricing-area pd-top-115 pd-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-9">
                    <div class="section-title text-center">
                        <h5 class="sub-title double-border">Plan tarifaire</h5>
                        <h2 class="title">Souscrivez au logiciel coiffure HCM MONETIC</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-pricing-inner style-2">
                        <div class="header text-center">
                            <h3>Basic</h3>
                            <div class="price">
                                <sup>€</sup>
                                <h2 class="d-inline-block">14.99</h2>
                            </div>
                        </div>
                        <div class="details">
                            <h4>Par mois</h4>
                            <ul class="single-list-inner style-check">
                                <li><i class="fa fa-check"></i>Planning</li>
                                <li><i class="fa fa-check"></i>Fichiers clients</li>
                                <li><i class="fa fa-check"></i>Facture</li>
                                <li><i class="fa fa-check"></i>Statistiques</li>
                                <li><i class="fa fa-check"></i>Fiche technique</li>
                                <li><i class="fa fa-check"></i>Sms</li>
                                <li><i class="fa fa-check"></i>Cloture caisse</li>
                                <li><i class="fa fa-check"></i>Gestion de votre tiroir-caisse</li>
                                <li><i class="fa fa-check"></i>Gestion de clients</li>
                                <li class="close"><i class="fa fa-times"></i>Mailing</li>
                                <li class="close"><i class="fa fa-times"></i>Gestion de vos bons cadeaux</li>
                            </ul>
                            <div class="btn-wrap text-center">
                                <a class="btn btn-black" href="{% url 'fonctionnalites' %}">Commander</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-pricing-inner style-2">
                        <div class="header text-center">
                            <h3>Gold</h3>
                            <div class="price">
                                <sup>€</sup>
                                <h2 class="d-inline-block">19.99</h2>
                            </div>
                        </div>
                        <div class="details">
                            <h4>Par mois</h4>
                            <ul class="single-list-inner style-check">
                                <li><i class="fa fa-check"></i>Planning</li>
                                <li><i class="fa fa-check"></i>Fichiers clients</li>
                                <li><i class="fa fa-check"></i>Facture</li>
                                <li><i class="fa fa-check"></i>Statistiques</li>
                                <li><i class="fa fa-check"></i>Fiche technique</li>
                                <li><i class="fa fa-check"></i>Sms</li>
                                <li><i class="fa fa-check"></i>Cloture caisse</li>
                                <li><i class="fa fa-check"></i>Gestion de votre tiroir-caisse</li>
                                <li><i class="fa fa-check"></i>Gestion de clients</li>
                                <li><i class="fa fa-check"></i>Mailing</li>
                                <li class="close"><i class="fa fa-times"></i>Gestion de vos bons cadeaux</li>
                            </ul>
                            <div class="btn-wrap text-center">
                                <a class="btn btn-black" href="{% url 'fonctionnalites' %}">Commander</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-pricing-inner style-2">
                        <div class="header text-center">
                            <h3>Platinum</h3>
                            <div class="price">
                                <sup>€</sup>
                                <h2 class="d-inline-block">24.99</h2>
                            </div>
                        </div>
                        <div class="details">
                            <h4>Par mois</h4>
                            <ul class="single-list-inner style-check">
                                <li><i class="fa fa-check"></i>Planning</li>
                                <li><i class="fa fa-check"></i>Fichiers clients</li>
                                <li><i class="fa fa-check"></i>Facture</li>
                                <li><i class="fa fa-check"></i>Statistiques</li>
                                <li><i class="fa fa-check"></i>Fiche technique</li>
                                <li><i class="fa fa-check"></i>Sms</li>
                                <li><i class="fa fa-check"></i>Cloture caisse</li>
                                <li><i class="fa fa-check"></i>Gestion de votre tiroir-caisse</li>
                                <li><i class="fa fa-check"></i>Gestion de clients</li>
                                <li><i class="fa fa-check"></i>Mailing</li>
                                <li><i class="fa fa-check"></i>Gestion de vos bons cadeaux</li>
                            </ul>
                            <div class="btn-wrap text-center">
                                <a class="btn btn-black" href="{% url 'fonctionnalites' %}">Commander</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pricing area end -->

    <!-- faq area start -->
    <div class="faq-area pd-bottom-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-9 mb-4 mb-lg-0 order-lg-last">
                    <div class="faq-image-wrap">
                        <div class="thumb">
                            <img src="{% static 'website/assets/img/about/f1.webp' %}" alt="img">
                            <img class="img-position-1" src="{% static 'website/assets/img/about/f2.webp' %}" alt="img">
                            <img class="img-position-2 top_image_bounce" src="{% static 'website/assets/img/about/f3.webp' %}" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-xl-5 order-lg-first align-self-center">
                    <div class="section-title mb-0">
                        <h5 class="sub-title left-border">Faq</h5>
                        <p class="content">Lorem ipsum</p>
                    </div>
                    <div class="accordion mt-4" id="accordionExample">
                        <div class="accordion-item single-accordion-inner">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Lorem ipsum
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Maecenas tempus, tellus eget condime honcus sem quam semper libero sit amet adipiscingem neque sed ipsum. amquam nunc
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item single-accordion-inner">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Lorem ipsum
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Maecenas tempus, tellus eget condime honcus sem quam semper libero sit amet adipiscingem neque sed ipsum. amquam nunc
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item single-accordion-inner">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Lorem ipsum
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Maecenas tempus, tellus eget condime honcus sem quam semper libero sit amet adipiscingem neque sed ipsum. amquam nunc
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq area end -->
    {% endblock %}
